<div class="center-layout">
  <h2>Nu spelar vi Hivemind!</h2>

  <p class="italic">
    I Hivemind så kommer du se ett ord eller en fras, och så ska du svara vad du
    tror att alla andra svarar!
  </p>
  <p class="italic mt-3">
    De spelare som skriver det mest svarade ordet får ett poäng! Här handlar det
    alltså om att inte vara unik, utan mainstream!
  </p>

  <h3 class="self-start mt-8">Välj ditt användarnamn</h3>

  <form class="self-start" (ngSubmit)="submit()" [formGroup]="form">
    <div class="flex items-baseline">
      <mat-form-field class="mr-3">
        <mat-label>Namn</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <button mat-flat-button [disabled]="form.invalid" type="submit">
        Nu kör vi!
      </button>
    </div>
  </form>
</div>
