@if (game$ | async; as game) {
  <div class="center-layout text-center">
    @if (game.status === "PENDING") {
      <div class="text-lg">
        Game is not yet started, share this link with people to join.
      </div>
      <div class="p-3 mt-2 mb-4 border border-white">
        {{ gameLink }}
      </div>

      <div class="italic mb-2 mt-5">
        When enough people have joined, you can start the game!
        <div>Players can still join in after the game is started :)</div>
      </div>
      <button mat-flat-button (click)="startGame()">Start game</button>
    }
    @if (game.status === "STARTED") {
      <div class="p-3 mt-2 mb-4 border border-white">
        {{ gameLink }}
      </div>
      <div class="flex items-center mb-3">
        <span class="italic opacity-80 mr-3">Current word:</span>
        <span class="animate__animated animate__fadeInDown">
          {{ game.word }}
        </span>
        <div class="border-r border-r-white h-5 mx-5"></div>
        @if (game.words.length) {
          <button mat-flat-button (click)="nextWord()">Next word</button>
        }
      </div>
      <button mat-flat-button (click)="endGame()">End game</button>
    }
  </div>

  <div class="border-t border-white w-[80%] mt-5"></div>

  <div class="flex justify-around w-full max-w-screen-md mt-5">
    <div class="w-[50%]">
      @if ((showAnswers$ | async) && game.status === "STARTED") {
        <div class="mt-5 mr-5">
          <h2>Answers</h2>
          <app-answers class="w-full max-w-[400px]"></app-answers>
        </div>

        <div class="border-b border-white mr-5"></div>
      }
      <h2>Players</h2>
      @if (users$ | async; as users) {
        @if (users.length) {
          <div *ngFor="let user of users">
            {{ user.name }}
          </div>
        } @else {
          <div>No players have joined yet.</div>
        }
      }
    </div>
    <div class="w-[50%]">
      <h2>Timer</h2>
      <div class="flex items-baseline">
        <mat-form-field appearance="fill" class="w-[270px]">
          <mat-label>How many seconds do the players have?</mat-label>
          <input matInput [(ngModel)]="maxTime" />
        </mat-form-field>
        <button
          class="ml-3"
          mat-flat-button
          type="button"
          (click)="updateSeconds()"
        >
          Save
        </button>
      </div>

      <h2>Words</h2>
      <form (ngSubmit)="addWord()" [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Enter word</mat-label>
          <input matInput formControlName="word" placeholder="Word" />
        </mat-form-field>
        <button
          class="ml-3"
          mat-flat-button
          [disabled]="form.invalid"
          type="submit"
        >
          Add word
        </button>
      </form>

      <div class="italic">
        Click on a word to select it as the next word, otherwise a random word
        is used.
      </div>
      <div>Words left in the game</div>
      @for (keyword of game.words; track keyword) {
        <mat-chip
          (removed)="removeWord(keyword)"
          (click)="game.status === 'STARTED' ? nextWord(keyword) : null"
          class="mr-2 mb-2"
        >
          {{ keyword }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      }
    </div>
  </div>
}
