@if (game$ | async; as game) {
  <div class="center-layout text-center">
    @if (game.status === "PENDING") {
      <div class="text-lg">
        Spelet är inte startat än! Dela länken med personer så kan de hoppa in i
        spelet.
      </div>
      <div class="p-3 mt-2 mb-4 border border-white">
        {{ gameLink }}
      </div>

      <div class="italic mb-2 mt-5">
        När alla är redo kan du starta spelet!
        <div>Nya spelare kan hoppa in i ett redan startat spel :)</div>
      </div>
      <button mat-flat-button (click)="startGame()">Starta spel</button>
    }
    @if (game.status === "STARTED") {
      <div class="p-3 mt-2 mb-4 border border-white">
        {{ gameLink }}
      </div>
      <div class="flex items-center mb-3">
        <span class="italic opacity-80 mr-3">Nuvarande ord:</span>
        <span class="animate__animated animate__fadeInDown">
          {{ game.word }}
        </span>
        <div class="border-r border-r-white h-5 mx-5"></div>
        @if (game.words.length) {
          <button mat-flat-button (click)="nextWord()">
            Nästa ord (randomiserat)
          </button>
        }
      </div>
      <button mat-flat-button (click)="endGame()">Avsluta spel</button>
    }
  </div>

  <div class="border-t border-white w-[80%] mt-5"></div>

  <div class="flex justify-around w-full max-w-screen-md mt-5">
    <div class="w-[50%] pr-6">
      @if ((showAnswers$ | async) && game.status === "STARTED") {
        <div class="mt-5">
          <h2>Svar</h2>
          <app-answers class="w-full max-w-[400px]"></app-answers>
        </div>

        <div class="border-b border-white mr-5"></div>
      }
      @if (game.status === "COMPLETE") {
        <div>
          <h2>Slutresultat</h2>
          <app-final-score class="w-full max-w-[400px]"></app-final-score>
        </div>
      }
      <h2>Spelare</h2>
      @if (users$ | async; as users) {
        @if (users.length) {
          <div *ngFor="let user of users">
            {{ user.name }}
          </div>
        } @else {
          <div class="italic text-sm opacity-80">
            Inga spelare har gått med än.
          </div>
        }
      }
    </div>
    <div class="w-[50%]">
      <h2>Spellinställningar</h2>
      <h3>Tidsgräns per ord</h3>
      <div class="flex items-baseline">
        <mat-form-field appearance="fill">
          <mat-label>Antal sekunder</mat-label>
          <input matInput type="number" [(ngModel)]="maxTime" />
        </mat-form-field>
        <button
          class="ml-3"
          mat-flat-button
          type="button"
          (click)="updateSeconds()"
        >
          Spara
        </button>
      </div>

      <h3>Lägg till ord</h3>
      <form (ngSubmit)="addWord()" [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Nytt ord</mat-label>
          <input matInput formControlName="word" />
        </mat-form-field>
        <button
          class="ml-3"
          mat-flat-button
          [disabled]="form.invalid"
          type="submit"
        >
          Lägg till
        </button>
      </form>

      <h3 class="mt-4">Ordlista för spelet</h3>
      @for (keyword of game.words; track keyword) {
        <mat-chip
          (removed)="removeWord(keyword)"
          (click)="game.status === 'STARTED' ? nextWord(keyword) : null"
          class="mr-2 mb-2"
        >
          {{ keyword }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      }
      <div class="italic text-sm mt-3 opacity-80">
        Tips! Under spelets gång kan du klicka på ett ord för att använda det
        som nästa ord.
      </div>
    </div>
  </div>
}
